#sera renderizado no aplication.html.erb

<ul>
  <li>
    <a href="/">Home</a>
  </li>  


  <li>
    <a href="/produto">Produtos</a>
  </li>  

  <li>
    <a href="/sobre">Sobre</a>
  </li>  


</ul>
